@using TPM_QAS.Models
@model PropertiesModel
@{
    ViewBag.Title = "PROPERTIES MM - Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("MM_PROPERTIES_ADD", "MM_PROPERTIES", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row g-0 px-3 tr-listing-header">
        <div class="col-sm-6 align-self-center">
            <p class="text-muted m-0 tr-listing-header-title">New Form - Properties</p>
        </div>
    </div>

    <div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

    <div class="page-container px-3 overflow-auto">
        <div class="tr-btm-btn-margin">
            <div class="card mt-3 mb-2 card-height height-override">
                <div class="card-body">
                    <div class="row align-items-baseline">
                        <div class="col"><h6 class="card-title text-muted">Properties</h6></div>
                        <div class="col text-end"></div>
                    </div>

                    <hr />

                    <div class="row mt-2 align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Main Property <span class="text-danger">*</span><span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(Model => Model.PROPERTIES, new { @class = "form-control required-field", id = "txtproperties", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Property Items <span class="text-danger">*</span><span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(Model => Model.PROP_ITEM, new { @class = "form-control required-field", id = "txtpropitem", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Oracle Column Name <span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownListFor(Model => Model.OraColumn, Model.DropdownOraColumn, "Not Applicable", new { @id = "ddlOraColumn", @class = "form-control" })
                        </div>
                        <div class="col-sm-4">
                            <span class="text-danger">(This attribute is solely for Trend reporting. Please refrain from any unnecessary changes)</span>
                        </div>
                    </div>

                    <div class="row mt-2 align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Reference Method <span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(Model => Model.REF_METHOD, new { @class = "form-control", id = "txtref", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Remarks (If any) <span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(Model => Model.REMARKS, new { @class = "form-control", id = "txtremarks", @maxlength = "100" })
                        </div>
                    </div>

                    <div class="row row-cols-2 mt-4">
                        <div class="col align-self-center">
                            <h6 class="text-muted" style="float: left">Machine Details</h6>
                        </div>
                        <div class="col">
                            <div class="row row-cols-auto justify-content-end g-1">
                                <div class="col">
                                    <button class="btn btn-sm btn-md btn-danger" id="removeBtn" type="button">
                                        Remove
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-sm btn-md btn-primary" id="addBtn" type="button">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 mx-1">
                        <table id="item-table" class="detailTable" style="width:100%">
                            <thead>
                                <tr class="toolbar-row">
                                    <th style="width: 3%; text-align: center;">
                                        <input id="trCheckbox" type="checkbox" class="dt-checkboxes select-all form-check-input" style="margin-top:5.5px; display:none">
                                    </th>
                                    <th>Machine Name</th>
                                    <th>Machine Path</th>
                                    <th>CSV Fields</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var count = 0; }
                                @if (Model.PropertiesMachineLstModel != null && Model.PropertiesMachineLstModel.Count > 0)
                                {
                                    foreach (var item in Model.PropertiesMachineLstModel)
                                    {
                                        count++;
                                        <tr id="R_@count" data-did="@count">
                                            <td class="text-center">
                                                <input class="dt-checkboxes form-check-input" type="checkbox" value="" id="chk_@count" onClick="handleCheckboxClick(this)">
                                            </td>
                                            <td>
                                                <input type="text" class="required-field form-control" id="item_name_@count" value="@item.MACHINE_NAME" placeholder="" disabled>
                                            </td>
                                            <td>
                                                <input type="text" class="required-field form-control" id="item_path_@count" value="@item.MACHINE_PATH" placeholder="">
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-text tr-input-group" id="item_field_@count" onclick="csvFieldsModal(@count)">
                                                        <a href="#" class="text-reset vm"><i class="fa-solid fa-ellipsis" aria-hidden="true" style="color: #fff"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="d-none">
                                                <input type="text" class="form-control" id="item_stat_@count" value="0">
                                                <input type="text" class="form-control" id="item_dbid_@count" value="@item.MM_PROPERTIES_D_ID">

                                                <input type="text" class="form-control" id="item_time_@count" value="@item.TESTING_TIME">
                                                <input type="text" class="form-control" id="item_lot_@count" value="@item.LOT_NO">
                                                <input type="text" class="form-control" id="item_operator_@count" value="@item.OPERATOR">

                                                <input type="text" class="form-control" id="item_r1_@count" value="@item.READING_1">
                                                <input type="text" class="form-control" id="item_r2_@count" value="@item.READING_2">
                                                <input type="text" class="form-control" id="item_r3_@count" value="@item.READING_3">
                                                <input type="text" class="form-control" id="item_r4_@count" value="@item.READING_4">
                                                <input type="text" class="form-control" id="item_r5_@count" value="@item.READING_5">
                                                <input type="text" class="form-control" id="item_r6_@count" value="@item.READING_6">

                                                <input type="text" class="form-control" id="item_total_@count" value="@item.TTL_READING">
                                                <input type="text" class="form-control" id="item_avg_@count" value="@item.AVERAGE">
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="item-count" value="@count" />
                    </div>

                </div>
            </div>

            <div class="row row-cols-auto justify-content-end g-1 tr-btm-btn-area" style="padding-right: 20px">
                <div class="col"><button id="btnBack" type="button" class="btn btn-sm btn-secondary mx-1 my-button" data-bs-toggle="modal" data-bs-target="#back-confirmation-modal">Back</button></div>
                <div class="col"><button hidden id="btnDraft" type="button" class="btn btn-sm btn-primary">Save As Draft</button></div>
                <div class="col"><button id="btnSubmit" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#submit-confirmation-modal">Submit</button></div>
            </div>
        </div>
    </div>
    
}

@*CSV FIELD MODAL*@
<div class="modal fade" id="fieldmodal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="float:left;">CSV Field Properties</h5>
            </div>
            <hr />

            <input type="hidden" id="current_count" />

            <div class="modal-body" style="overflow-x: auto; white-space: nowrap" id="searchSourceBody">
                <div class="container-fluid">

                    <div id="excelvalue"></div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Machine Name <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4"><input class="required-field-modal form-control" id="txt_modal_1" type="text" disabled /></div>
                        <div class="col-md-2 isLabel">Lot No <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_2", @class = "ddloption clmnddl required-field-modal form-control form-select", required = "required" })
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Testing Datetime <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4"><input class="required-field-modal form-control" id="txt_modal_3" type="text" disabled /></div>
                        <div class="col-md-2 isLabel">Operator <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_4", @class = "ddloption clmnddl required-field-modal form-control form-select" })
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Reading 1 <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_5", @class = "ddloption readfield clmnddl required-field-modal form-control form-select" })
                        </div>
                        <div class="col-md-2 isLabel">Reading 4 <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_6", @class = "ddloption readfield clmnddl form-control form-select" })
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Reading 2 <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_7", @class = "ddloption readfield clmnddl form-control form-select" })
                        </div>
                        <div class="col-md-2 isLabel">Reading 5 <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_8", @class = "ddloption readfield clmnddl form-control form-select" })
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Reading 3 <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_9", @class = "ddloption readfield clmnddl form-control form-select" })
                        </div>
                        <div class="col-md-2 isLabel">Reading 6 <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_10", @class = "ddloption readfield clmnddl form-control form-select" })
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div hidden class="col-md-2 isLabel">Total Reading <span style="float:right">:</span></div>
                        <div hidden class="col-md-4"><input class="form-control" id="txt_modal_11" type="text" disabled /></div>
                        <div class="col-md-2 isLabel">Average <span class="text-danger">*</span><span style="float:right">:</span></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(Model => Model.DROPDOWN, Model.DropdownColumn, "Select an option..", new { id = "txt_modal_12", @class = "ddloption clmnddl required-field-modal form-control form-select" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" id="btnResetFieldModal" class="btn btn-sm btn-secondary">Reset</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Back</button>
                <button type="button" id="btnsubmitmodal" class="btn btn-sm btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<script>
    var listFieldValue = []
    $(document).ready(function () {
        checkboxChecking();
        var listingURL = appBasePath + 'MM_PROPERTIES/MM_PROPERTIES_LST';
        var idh = '@Model.MM_PROPERTIES_H_ID' != 0 ? '@Model.MM_PROPERTIES_H_ID' : 0;

        //ADD
        $('#addBtn').on('click', function () {

            var cont = true;
            var message = "";

            if (cont) {
                var rowIdx = $('#item-count').val();
                rowIdx++;
                $('#item-count').val(rowIdx);


                $('#item-table tbody').append(`
                    <tr id="R_${rowIdx}" data-did="${rowIdx}">
                        <td class="text-center"><input class="dt-checkboxes form-check-input" type="checkbox" value="" id="chk_${rowIdx}" onClick="handleCheckboxClick(this)"></td>
                        <td><input type="text" class="form-control required-field"  id="item_name_${rowIdx}" placeholder="" ></td>
                        <td><input type="text" class="form-control required-field" id="item_path_${rowIdx}" placeholder=""></td>
                        <td>
                            <div class="input-group">
                            <div class="input-group-text tr-input-group" id="item_field_${rowIdx}" onclick="csvFieldsModal(${rowIdx})">
                                <a href="#" class="text-reset vm"><i class="fa-solid fa-ellipsis" aria-hidden="true" style="color: #fff"></i></a>
                            </div></div>
                        </td>
                        <td class="d-none">
                            <input type="text" id="item_stat_${rowIdx}" value="1">
                            <input type="text" id="item_dbid_${rowIdx}" value="0">

                            <input type="text" id="item_time_${rowIdx}">
                            <input type="text" id="item_lot_${rowIdx}">
                            <input type="text" id="item_operator_${rowIdx}">

                            <input type="text" id="item_r1_${rowIdx}">
                            <input type="text" id="item_r2_${rowIdx}">
                            <input type="text" id="item_r3_${rowIdx}">
                            <input type="text" id="item_r4_${rowIdx}">
                            <input type="text" id="item_r5_${rowIdx}">
                            <input type="text" id="item_r6_${rowIdx}">

                            <input type="text" id="item_total_${rowIdx}">
                            <input type="text" id="item_avg_${rowIdx}">
                        </td>
                    </tr>
                    `);

                checkboxChecking();
            } else {
                if (message != "") {
                    displayToast("error", message)
                }
            }

        });

        //REMOVE
        $('#removeBtn').on('click', function () {
            $('#item-table tbody input[type=checkbox]:checked').each(function (idx, ele) {
                var row = $(ele).closest('tr');
                var itemStatInput = row.find('input[id^="item_stat_"]');
                var item_stat = itemStatInput.val();

                if (item_stat != '1') {
                    itemStatInput.val('5');
                    row.hide();
                } else {
                    row.remove();
                }
            });

            checkboxChecking();
        });

        //SUBMIT
        $('#btnConfirmSubmit').on('click', function () {
            $('.invalid-feedback').remove();
            $('.is-invalid').removeClass('is-invalid');

            var cont = true;
            var message = "";

            var txtproperties = $("#txtproperties").val();
            var txtpropitem = $("#txtpropitem").val();
            var txtref = $("#txtref").val();
            var txtremarks = $("#txtremarks").val();
            var txtoracolumn = $("#ddlOraColumn").val();

            if (txtproperties == undefined || txtproperties == null || txtproperties == "") {
                cont = false;
                message += 'Missing Main Property value. <br>';
            }

            if (txtpropitem == undefined || txtpropitem == null || txtpropitem == "") {
                cont = false;
                message += 'Missing Property Items value. <br>';
            }

            $('.required-field').each(function (e) {
                var input_val = $(this).val().trim();
                if (input_val == null || input_val == undefined || input_val === "") {
                    cont = false;
                    $(this).addClass('is-invalid');
                    inputError(this);
                }
            });

            var hasItem = false;
            var hasError = false;
            var hasfieldrequired = false;
            var hasDuplicate = false;
            var existedItem = [];

            var list = [];

            $("#item-table tbody tr").each(function () {
                var did = $(this).data("did");
                if (did != '' && did != null && did != undefined) {
                    var item_stat = $('#item_stat_' + did).val();
                    var item_dbid = $('#item_dbid_' + did).val();

                    var item_name = $('#item_name_' + did).val();
                    var item_path = $('#item_path_' + did).val();

                    var item_time = $('#item_time_' + did).val();
                    var item_lot = $('#item_lot_' + did).val();
                    var item_operator = $('#item_operator_' + did).val();
                    var item_r1 = $('#item_r1_' + did).val();
                    var item_r2 = $('#item_r2_' + did).val();
                    var item_r3 = $('#item_r3_' + did).val();
                    var item_r4 = $('#item_r4_' + did).val();
                    var item_r5 = $('#item_r5_' + did).val();
                    var item_r6 = $('#item_r6_' + did).val();
                    var item_total = $('#item_total_' + did).val();
                    var item_avg = $('#item_avg_' + did).val();

                    var namepath = item_name + '*' + item_path;

                    if (item_stat != '5') {
                        if (namepath !== "") {
                            //hasItem = true;
                            if (existedItem.includes(namepath)) {
                                hasDuplicate = true;
                                return false;
                            } else {
                                if (item_time == '' || item_lot == '' || item_operator == '' || item_r1 == '' || item_avg == '') {
                                    hasfieldrequired = true;
                                    return false;
                                } else {
                                    existedItem.push(namepath);
                                }
                            }
                        } else {
                            hasError = true;
                        }
                    }

                    list.push({
                        'MM_PROPERTIES_D_ID': item_dbid,
                        'RECORD_TYP': item_stat,
                        'MACHINE_NAME': item_name,
                        'MACHINE_PATH': item_path,
                        'TESTING_TIME': item_time,
                        'LOT_NO': item_lot,
                        'OPERATOR': item_operator,
                        'READING_1': item_r1,
                        'READING_2': item_r2,
                        'READING_3': item_r3,
                        'READING_4': item_r4,
                        'READING_5': item_r5,
                        'READING_6': item_r6,
                        'TTL_READING': item_total,
                        'AVERAGE': item_avg,
                    });
                }
            });

            //if (cont && !hasItem) {
            //    cont = false;
            //    message = "Please add at least one Machine Details.";
            //}

            if (cont && hasError) {
                cont = false;
                message = "Please make sure required field in Machine Details is not empty.";
            }
            if (cont && hasDuplicate) {
                cont = false;
                message = "Duplicate Machine Name with similar Machine Path.";
            }

            if (cont && hasfieldrequired) {
                cont = false;
                message = "Please make sure required fields in CSV Fields is not empty.";
            }

            if (cont) {

                var model = {
                    MM_PROPERTIES_H_ID: idh,
                    PROPERTIES: txtproperties,
                    PROP_ITEM: txtpropitem,
                    REF_METHOD: txtref,
                    REMARKS: txtremarks,
                    RECORD_TYP: '1',
                    OraColumn: txtoracolumn,
                    PropertiesMachineLstModel: list
                };

                console.log(model)

                $.ajax({
                    url: appBasePath + "MM_PROPERTIES/InsertUpdateProperties",
                    type: 'POST',
                    data: {
                        model: model
                    },
                    beforeSend: function () {
                        loadings();
                    },
                    success: function (response) {
                        loadings(false);
                        if (response.success) {
                            displayToast("s", "Data save successfully. Please edit new property sequence in IDS Report Sequence");

                            setTimeout(function () {
                                window.location.href = appBasePath + 'MM_PROPERTIES/MM_PROPERTIES_REPORT_SEQ';
                            }, 2000);

                        } else {
                            displayToast("error", response.message)
                        }
                    },
                    error: function () {
                        displayToast("error", response.responseText)
                    }
                });

            } else {
                if (message != "") {
                    displayToast("error", message)
                }
            }

        });

        //DRAFT
        $('#btnDraft').on('click', function () {
            $('.invalid-feedback').remove();
            $('.is-invalid').removeClass('is-invalid');

            var cont = true;
            var message = "";

            var txtproperties = $("#txtproperties").val();
            var txtpropitem = $("#txtpropitem").val();
            var txtref = $("#txtref").val();
            var txtremarks = $("#txtremarks").val();
            var txtoracolumn = $("#ddlOraColumn").val();

            if (txtproperties == undefined || txtproperties == null || txtproperties == "") {
                cont = false;
                message += 'Missing Main Property value. <br>';
            }

            if (txtpropitem == undefined || txtpropitem == null || txtpropitem == "") {
                cont = false;
                message += 'Missing Property Items value. <br>';
            }

            $('.required-field').each(function (e) {
                var input_val = $(this).val().trim();
                if (input_val == null || input_val == undefined || input_val === "") {
                    cont = false;
                    $(this).addClass('is-invalid');
                    inputError(this);
                }
            });

            //var hasItem = false;
            //var hasError = false;
            var hasfieldrequired = false;
            var hasDuplicate = false;
            var existedItem = [];

            var list = [];

            $("#item-table tbody tr").each(function () {
                var did = $(this).data("did");
                if (did != '' && did != null && did != undefined) {
                    var item_stat = $('#item_stat_' + did).val();
                    var item_dbid = $('#item_dbid_' + did).val();

                    var item_name = $('#item_name_' + did).val();
                    var item_path = $('#item_path_' + did).val();

                    var item_time = $('#item_time_' + did).val();
                    var item_lot = $('#item_lot_' + did).val();
                    var item_operator = $('#item_operator_' + did).val();
                    var item_r1 = $('#item_r1_' + did).val();
                    var item_r2 = $('#item_r2_' + did).val();
                    var item_r3 = $('#item_r3_' + did).val();
                    var item_r4 = $('#item_r4_' + did).val();
                    var item_r5 = $('#item_r5_' + did).val();
                    var item_r6 = $('#item_r6_' + did).val();
                    var item_total = $('#item_total_' + did).val();
                    var item_avg = $('#item_avg_' + did).val();

                    var namepath = item_name + '*' + item_path;

                    if (item_stat != '5') {
                        item_stat = "8";
                        if (namepath !== "") {
                            //hasItem = true;
                            if (existedItem.includes(namepath)) {
                                hasDuplicate = true;
                                return false;
                            } else {
                                if (item_time == '' || item_lot == '' || item_operator == '' || item_r1 == '' || item_avg == '') {
                                    hasfieldrequired = true;
                                    return false;
                                } else {
                                    existedItem.push(namepath);
                                }

                            }
                        }
                        //else {
                        //    hasError = true;
                        //}
                    }

                    list.push({
                        'MM_PROPERTIES_D_ID': item_dbid,
                        'RECORD_TYP': item_stat,
                        'MACHINE_NAME': item_name,
                        'MACHINE_PATH': item_path,
                        'TESTING_TIME': item_time,
                        'LOT_NO': item_lot,
                        'OPERATOR': item_operator,
                        'READING_1': item_r1,
                        'READING_2': item_r2,
                        'READING_3': item_r3,
                        'READING_4': item_r4,
                        'READING_5': item_r5,
                        'READING_6': item_r6,
                        'TTL_READING': item_total,
                        'AVERAGE': item_avg,
                    });
                }
            });

            //if (cont && !hasItem) {
            //    cont = false;
            //    message = "Please add at least one Sub Category and item.";
            //}

            //if (cont && hasError) {
            //    cont = false;
            //    message = "Please make sure required field in Sub Category is not empty.";
            //}

            if (cont && hasDuplicate) {
                cont = false;
                message = "Duplicate Machine Name with similar Machine Path.";
            }

            if (cont && hasfieldrequired) {
                cont = false;
                message = "Please make sure required fields in CSV Fields is not empty.";
            }

            if (cont) {

                var model = {
                    MM_PROPERTIES_H_ID: idh,
                    PROPERTIES: txtproperties,
                    PROP_ITEM: txtpropitem,
                    REF_METHOD: txtref,
                    REMARKS: txtremarks,
                    RECORD_TYP: '8',
                    OraColumn: txtoracolumn,
                    PropertiesMachineLstModel: list
                };

                console.log(model)

                $.ajax({
                    url: appBasePath + "MM_PROPERTIES/DraftProperties",
                    type: 'POST',
                    data: {
                        model: model
                    },
                    beforeSend: function () {
                        loadings();
                    },
                    success: function (response) {
                        loadings(false);
                        if (response.success) {
                            displayToast("s", "Data save as draft successfully");

                            setTimeout(function () {
                                window.location.href = listingURL;
                            }, 2000);

                        } else {
                            displayToast("error", response.message)
                        }
                    },
                    error: function () {
                        displayToast("error", response.responseText)
                    }
                });

            } else {
                if (message != "") {
                    displayToast("error", message)
                }
            }
        });

        //SUBMIT FOR MODAL
        $("#btnsubmitmodal").click(function () {

            var cont = true;

            $('.invalid-feedback').remove();
            $('.is-invalid').removeClass('is-invalid');

            $('.required-field-modal').each(function (e) {
                var input_val = $(this).val().trim();
                if (input_val == null || input_val == undefined || input_val === "") {
                    cont = false;
                    $(this).addClass('is-invalid');
                    inputError(this);
                }
            });

            if (cont) {
                var count = $("#current_count").val();

                $("#item_lot_" + count).val($("#txt_modal_2").val());
                $("#item_time_" + count).val($("#txt_modal_3").val());
                $("#item_operator_" + count).val($("#txt_modal_4").val());

                $("#item_r1_" + count).val($("#txt_modal_5").val());
                $("#item_r4_" + count).val($("#txt_modal_6").val());
                $("#item_r2_" + count).val($("#txt_modal_7").val());
                $("#item_r5_" + count).val($("#txt_modal_8").val());
                $("#item_r3_" + count).val($("#txt_modal_9").val());
                $("#item_r6_" + count).val($("#txt_modal_10").val());

                $("#item_total_" + count).val($("#txt_modal_11").val());
                $("#item_avg_" + count).val($("#txt_modal_12").val());

                $("#fieldmodal").modal("hide");
            }


        });

        //FOR TOTAL READING
        $('.readfield').change(function () {
            if (listFieldValue.length > 0) {
                var r1 = $("#txt_modal_5").val();
                var r2 = $("#txt_modal_7").val();
                var r3 = $("#txt_modal_9").val();
                var r4 = $("#txt_modal_6").val();
                var r5 = $("#txt_modal_8").val();
                var r6 = $("#txt_modal_10").val();

                var selectedColumns = [r1, r2, r3, r4, r5, r6];
                var total = 0;

                for (var i = 0; i < selectedColumns.length; i++) {
                    var selectedColumn = selectedColumns[i];

                    if (selectedColumn) {
                        var fieldValue = findFieldValue(selectedColumn);

                        if (fieldValue) {
                            // Check if fieldValue is not a valid numeric value, treat it as 0
                            if (!isNumeric(fieldValue)) {
                                fieldValue = 0;
                            }

                            total += parseFloat(fieldValue);
                        }
                    }
                }

                $("#txt_modal_11").val(total);

            } else {
                displayToast("error", "Failed to get CSV Field Value.")
            }
        });

        // BUTTON RESET MODAL
        $('#btnResetFieldModal').on('click', function () {

            //$("#txt_modal_1").val("");
            $("#txt_modal_2").val("");
            //$("#txt_modal_3").val("");
            $("#txt_modal_4").val("");
            $("#txt_modal_5").val("");
            $("#txt_modal_6").val("");
            $("#txt_modal_7").val("");
            $("#txt_modal_8").val("");
            $("#txt_modal_9").val("");
            $("#txt_modal_10").val("");
            $("#txt_modal_11").val("");
            $("#txt_modal_12").val("");

        });

        $('#btnConfirmBack').on('click', function () {
            window.location.href = listingURL;
        });
    });

    function csvFieldsModal(count) {

        var cont = true;
        var message = "";

        var testtime = "";

        var itemName = $("#item_name_" + count).val();
        var itemPath = $("#item_path_" + count).val();

        if (itemName == undefined || itemName == null || itemName == "") {
            cont = false;
            message += 'Missing Machine Name value. <br>';
        }

        if (itemPath == undefined || itemPath == null || itemPath == "") {
            cont = false;
            message += 'Missing Machine Path value. <br>';
        }

        if (cont) {

            //column ddl

            $.ajax({
                url: appBasePath + "MM_PROPERTIES/getColumnDDL",
                type: 'POST',
                data: {
                    path: itemPath
                },
                beforeSend: function () {
                    loadings();
                },
                success: function (response) {
                    loadings(false);
                    if (response.success) {

                        var dropdown = $(".clmnddl");
                        dropdown.empty();

                        $.each(response.columnList, function (index, item) {

                            dropdown.append($("<option></option>")
                                .attr("value", item.Value)
                                .text(item.Text));
                        });

                        $(".ddloption option:contains('Select an option')").hide();

                        var tableHtml = '<table class="table table-bordered detailTable" style="width:100%">';
                        tableHtml += '<thead style="background-color:#F0F0F0"><tr>';

                        for (var i = 0; i < response.fieldvalue.length; i++) {

                            listFieldValue.push({
                                'COLUMNS': response.fieldvalue[i].COLUMNS,
                                'FIELD_VAL': response.fieldvalue[i].VALUE
                            });

                            if (response.fieldvalue[i].COLUMNS == "Column 0") {
                                testtime = response.fieldvalue[i].VALUE;
                            }

                            tableHtml += '<th>' + response.fieldvalue[i].COLUMNS + '</th>';
                        }

                        tableHtml += '</tr></thead>';
                        tableHtml += '<tbody><tr>';

                        for (var i = 0; i < response.fieldvalue.length; i++) {
                            tableHtml += '<td>' + response.fieldvalue[i].VALUE + '</td>';
                        }

                        tableHtml += '</tr></tbody>';
                        tableHtml += '</table>';

                        $('#excelvalue').html(tableHtml);


                        $("#txt_modal_1").val(itemName);
                        $("#txt_modal_3").val(testtime);
                        $("#current_count").val(count);

                        // put value if already selected

                        $("#txt_modal_2").val($("#item_lot_" + count).val());
                        $("#txt_modal_4").val($("#item_operator_" + count).val());
                        $("#txt_modal_5").val($("#item_r1_" + count).val());
                        $("#txt_modal_6").val($("#item_r4_" + count).val());
                        $("#txt_modal_7").val($("#item_r2_" + count).val());
                        $("#txt_modal_8").val($("#item_r5_" + count).val());
                        $("#txt_modal_9").val($("#item_r3_" + count).val());
                        $("#txt_modal_10").val($("#item_r6_" + count).val());
                        $("#txt_modal_11").val($("#item_total_" + count).val());
                        $("#txt_modal_12").val($("#item_avg_" + count).val());


                        $("#fieldmodal").modal("show");

                    } else {
                        displayToast("error", response.message)
                    }
                },
                error: function () {
                    displayToast("error", response.responseText)
                }
            });


        } else {
            if (message != "") {
                displayToast("error", message)
            }
        }
    }

    function findFieldValue(columnName) {
        for (var i = 0; i < listFieldValue.length; i++) {
            if (listFieldValue[i].COLUMNS === columnName) {
                return listFieldValue[i].FIELD_VAL;
            }
        }
        return null;
    }

    function isNumeric(value) {
        return /^-?\d+\.?\d*$/.test(value);
    }

</script>