@using TPM_QAS.Models
@model MM_BIS_GRADE_VIEWMODEL


@{
    ViewBag.Title = "BIS Grade MM - Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("MM_BIS_GRADE_DETAIL", "MM_BIS_GRADE", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row g-0 px-3 tr-listing-header">
        <div class="col-sm-6 align-self-center">
            <p class="text-muted m-0 tr-listing-header-title main-title">View Form - BIS Grade Maintenance</p>
        </div>
        <div class="col-sm-6 text-end align-self-center">
            <div class="d-flex justify-content-end">
                <div id="customDTButton"></div>
            </div>
        </div>
    </div>

    <div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

    <div class="page-container px-3 overflow-auto">
        <div class="tr-btm-btn-margin">
            <div class="card mt-3 mb-2 card-height">
                <div class="card-body">
                    <div class="row align-items-baseline">
                        <div class="col"><h6 class="card-title text-muted">Designation Grade Code</h6></div>
                        @if (Model.RECORD_TYP != null)
                        {
                            if (@Model.RECORD_TYP != "5")
                            {
                                <div class="col text-end"><button class="btn btn-sm btn-primary" id="btnEdit" type="button" data-behaviour="toggle">Edit</button></div>
                            }

                        }
                    </div>

                    <hr />

                    @Html.HiddenFor(model => model.ID_MM_BIS_GRADE_H)
                    <div class="row mt-2 align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Category <span class="text-danger">*</span><span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5">
                            @Html.TextBoxFor(Model => Model.BIS_GRADE_CODE, new { @class = "form-control isEditable", id = "BIS_GRADE_CODE", disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.BIS_GRADE_CODE, "", new { @class = "text-danger", @style = "color:red" })
                        </div>
                    </div>
                    <div id="desc-div"></div>
                    <div class="row mt-2 align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted">Item Details <span class="text-danger">*</span><span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-5" style="text-align:right;">
                            <button id="btnRemove" type="button" class="btn btn-sm btn-danger m-1 isEditable" style="display:none;">Remove</button>
                            <button id="add-item" type="button" class="btn btn-sm btn-primary m-1 isEditable" style="display:none;">Add</button>
                        </div>
                    </div>
                    <div class="row align-items-baseline">
                        <div class="col-sm-8">
                            <div class="row mt-2 mx-1">
                                <table id="item-table" class="table detailTable" style="width:100%">
                                    <thead>
                                        <tr class="toolbar-row">
                                            <th style='width:10%; display:none;' class="isEditable"></th>
                                            <th style='width:45%; text-align:center'>Product Name</th>
                                            <th style='width:45%; text-align:center'>Single Designation Code</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var count = 0; }
                                        @foreach (var item in Model.ModelList)
                                        {
                                            count++;
                                            <tr class="item-row" data-did="@count">
                                                <td style="width:10%; display:none;" class="text-center isEditable"><input type="checkbox" class="delete-check" value="@count" /></td>
                                                <td style="width:45%" class="item-col"><input type="text" class="form-control item-input isEditable" data-did="@count" id="item_product_@count" value="@item.BIS_GRADE_PROD_CODE" disabled></td>
                                                <td style="width:45%" class="item-col"><input type="text" class="form-control item-input isEditable" data-did="@count" id="item_single_@count" value="@item.BIS_SINGLE_DESIGN_CODE" disabled></td>
                                                <td class="d-none">
                                                    <input type="text" id="item_stat_@count" value="0">
                                                    <input type="text" id="item_dbid_@count" value="@item.ID_MM_BIS_GRADE_D">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <input type="hidden" id="item-count" value="@count" />
                            </div>
                        </div>
                    </div>

                    <div class="hideInfo">
                        <hr />

                        <div class="row row-cols-2 mt-4">
                            <div class="col align-self-center">
                                <h6 style="float: left" class="text-muted">Entry Details</h6>
                            </div>
                            <div class="col">

                            </div>
                        </div>

                        <div class="row mt-2 align-items-baseline">
                            <div class="col-sm-2">
                                <p class="text-muted">Updated By<span style="float:right">:</span></p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" disabled value="@Model.UPDATED_BY">
                            </div>
                            <div class="col-sm-2">
                                <p class="text-muted">Created By<span style="float:right">:</span></p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" disabled value="@Model.CREATED_BY">
                            </div>
                        </div>

                        <div class="row mt-2 align-items-baseline">
                            <div class="col-sm-2">
                                <p class="text-muted">Updated Date<span style="float:right">:</span></p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" disabled value="@Model.UPDATED_DATE">
                            </div>
                            <div class="col-sm-2">
                                <p class="text-muted">Created Date<span style="float:right">:</span></p>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" disabled value="@Model.CREATED_DATE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tr-btm-btn-area">
                @if (Model.RECORD_TYP != null)
                {
                    if (@Model.RECORD_TYP != "5")
                    {
                        <div class="col"><button id="btnDeleteView" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-confirmation-modal">Delete</button></div>
                    }

                }
                <div class="col">
                    <div class="row row-cols-auto justify-content-end isNotEditable" style="padding-right: 20px">
                        <div class="col"><button id="btnCancelView" type="button" class="btn btn-sm btn-secondary">Back</button></div>
                    </div>

                    <div class="row row-cols-auto justify-content-end isEditable g-1" style="display:none; padding-right: 20px">
                        <div class="col"><button id="btnBack" type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#edit-back-confirmation-modal">Back</button></div>
                        <div class="col"><button id="btnSubmit" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#submit-confirmation-modal">Submit</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

@section scripts {
    <script>
        // For adding item to table
        $(document).ready(function () {

            // Add row
            $("#add-item").off("click").on("click", function (e) {
                e.preventDefault();
                var count = $('#item-count').val();
                count++;
                $('#item-count').val(count);

                $("#item-table tbody").append(`
                        <tr class="item-row" data-did="${count}">
                            <td style="width:5%" class="text-center"><input type="checkbox" class="delete-check" value="${count}"/></td>
                            <td style="width:30%" class="item-col"><input type="text" class="form-control item-input" data-did="${count}" id="item_product_${count}" value=""></td>
                            <td style="width:25%" class="item-col"><input type="text" class="form-control item-input" data-did="${count}" id="item_single_${count}" value=""></td>
                            <td class="d-none">
                                <input type="text" id="item_stat_${count}" value="1">
                                <input type="text" id="item_dbid_${count}" value="0">
                            </td>
                        </tr>
                    `);
            });

            $(document).on('keyup', '#item-table .item-input', function (e) {
                var did = $(this).data("did");
                if (did != '' && did != null && did != undefined) {
                    var item_stat = $('#item_stat_' + did).val();
                    if (item_stat != '1') {
                        $('#item_stat_' + did).val(3);
                    }
                }
            });

            $('#btnRemove').on('click', function (e) {
                var cont = true;
                var message = "";
                if ($('#item-table .delete-check:checked').length == 0) {
                    cont = false;
                    message += "No item has been checked.\n";
                }

                if (cont) {
                    //Loop all checked
                    $('#item-table .delete-check:checked').each(function () {
                        var did = $(this).val();
                        if (did != '' && did != null && did != undefined) {
                            var item_stat = $('#item_stat_' + did).val();
                            if (item_stat != '1') {
                                $('#item-table .item-row[data-did="' + did + '"]').hide();
                                $('#item_stat_' + did).val(5);
                            } else {
                                $('#item-table .item-row[data-did="' + did + '"]').remove();
                            }
                        }
                    });
                    $('#item-table .delete-check').prop("checked", false);
                } else {
                    if (message != "") {
                        alert(message);
                    }
                }
            });

        });

    </script>

    <script>
        $(document).ready(function () {

            var record_id = '@Model.ID_MM_BIS_GRADE_H';
            var submit_url = '@Url.Action("MM_BIS_GRADE_DETAIL", "MM_BIS_GRADE")';
            var success_url = '@Url.Action("MM_BIS_GRADE_LST", "MM_BIS_GRADE")'


            $('#btnConfirmDel').on('click', function () {

                var lstid = [];
                lstid.push(record_id)

                $.ajax({
                    url: "/MM_BIS_GRADE/MM_BIS_GRADE_H_DEL",
                    type: 'POST',
                    data: {
                        pID: lstid
                    },
                    beforeSend: function () {
                        loadings();
                    },
                    success: function (response) {
                        loadings(false);
                        if (response.success) {
                            displayToast("s", "Data successfully deleted");

                            setTimeout(function () {
                                window.location.href = success_url;
                            }, 2000);

                        } else {
                            displayToast("error", response.message)
                        }
                    },
                    error: function () {
                        displayToast("error", response.responseText)
                    }
                });

            });
            $('#btnCancelView').on('click', function () {
                var del = '0';
                if (@Model.RECORD_TYP != null && @Model.RECORD_TYP  == '5') {
                    del = '1';
                }
                window.location.href = success_url + '?Deleted=' + del;
            });

            $('#btnBackEdit').on('click', function () {
                window.location.href = success_url;
            });

            $('#btnConfirmSubmit').on('click', function () {
                var cont = true;
                var message = "";

                var ds_code = $('#BIS_GRADE_CODE').val();
                if (ds_code.trim() == "") {
                    cont = false;
                    message += "BIS Grade cannot be empty.\n";
                }

                var hasItem = false;
                var hasDuplicate = false;
                var prodOccurrences = {};
                var ItemDetails = [];
                $("#item-table .item-row").each(function () {
                    var did = $(this).data("did");
                    if (did != '' && did != null && did != undefined) {
                        var item_stat = $('#item_stat_' + did).val();
                        var item_dbid = $('#item_dbid_' + did).val();
                        var item_product = $('#item_product_' + did).val();
                        var item_single = $('#item_single_' + did).val();

                        if (item_stat != '5' && item_product.trim() !== "") {
                            hasItem = true;
                            if (prodOccurrences[item_product]) {
                                hasDuplicate = true;
                            } else {
                                prodOccurrences[item_product] = true;
                            }
                        }

                        var record_typ = item_stat;
                        if (item_stat != '1' && item_product.trim() == "") { //If the record is not newly added, and input is empty, delete it
                            record_typ = '5';
                        }
                        if (!(item_stat == '1' && item_product.trim() == "")) {
                            ItemDetails.push({
                                'ID_MM_BIS_GRADE_D': item_dbid,
                                'BIS_GRADE_PROD_CODE': item_product,
                                'RECORD_TYP': record_typ,
                                'BIS_SINGLE_DESIGN_CODE': item_single
                            });
                        }
                    }
                });
                if (!hasItem) {
                    cont = false;
                    message += "Require at least one item details\n";
                }
                if (hasDuplicate) {
                    cont = false;
                    message += "Duplicate item details detected\n";
                }

                if (cont) {
                    //console.log(ItemDetails);
                    $.ajax({
                        url: submit_url,
                        type: 'POST',
                        data: {
                            pID: record_id,
                            ds_code: ds_code,
                            item_dtl: ItemDetails
                        },
                        beforeSend: function () {
                            loadings();
                        },
                        success: function (response) {
                            loadings(false);
                            if (response.success) {
                                alert("Data save successfully");
                                var url = success_url;
                                window.location.href = url;
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Error occured");
                        }
                    });

                } else {
                    if (message != "") {
                        alert(message);
                    }
                }

            });
        });


        function loadings(def) {
            def = def || true;
            if (def) {
                $("div.spanner").addClass("show");
                $("div.overlay").addClass("show");
            } else {
                $("div.spanner").removeClass("show");
                $("div.overlay").removeClass("show");
            }
        }

    </script>
}
