@model HomeModel.ChangePasswordModel

@{
    var url = @Url.Action("Menu", "Home").ToString();
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["Message"] != null)
{
    if (ViewData["MessageType"].ToString()[0] == 'E')
    {
        <script type="text/javascript" language="javascript">
            $(document).ready(function (e) {
                alertError('@ViewData["Message"].ToString()');
            });
        </script>
    }

    if (ViewData["MessageType"].ToString()[0] == 'Y')
    {
        <script type="text/javascript" language="javascript">
            alertSuccess('@ViewData["Message"].ToString()');
        </script>

        <script type="text/javascript" language="javascript">
            alert("@ViewData["Message"].ToString()");
            var returnurl = '@Url.Action("LogOut", "Home")';
            window.location.href = returnurl;
        </script>
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="tr-btm-btn-margin">

        <div class="row g-0 tr-listing-header">
            <div class="col align-self-center">
                <p class="text-muted m-0 tr-listing-header-title">Setting - Change Password</p>
            </div>
        </div>

        <div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

        <div class="card mt-3 mb-2 card-height">
            <div class="card-body">
                <div class="row align-items-baseline">
                    <div class="col"><h6 class="text-muted">Change Password</h6></div>
                    <div class="col text-end"></div>
                </div>

                <hr />

                <div class="row align-items-baseline">
                    <div class="col-sm-3">
                        <p class="text-muted">Old Password <span class="text-danger">*</span><span style="float:right">:</span></p>
                    </div>
                    <div class="col-sm-5">
                        @Html.PasswordFor(a => a.OLD_PASSWORD, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.OLD_PASSWORD)
                    </div>
                </div>

                <div class="row align-items-baseline">
                    <div class="col-sm-3">
                        <p class="text-muted">New Password <span class="text-danger">*</span><span style="float:right">:</span></p>
                    </div>
                    <div class="col-sm-5">
                        @Html.PasswordFor(a => a.NEW_PASSWORD, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.NEW_PASSWORD)
                    </div>
                </div>

                <div class="row align-items-baseline">
                    <div class="col-sm-3">
                        <p class="text-muted">Confirm New Password <span class="text-danger">*</span><span style="float:right">:</span></p>
                    </div>
                    <div class="col-sm-5">
                        @Html.PasswordFor(a => a.CONFIRM_NEW_PASSWORD, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(a => a.CONFIRM_NEW_PASSWORD)
                    </div>
                </div>

                <div class="row row-cols-auto justify-content-end g-1 tr-btm-btn-area" style="padding-right: 20px">
                    <div class="col"><a href="@Url.Action("Cap7", "Home")" class="btn btn-sm btn-secondary mx-1 my-button">Back</a></div>
                    <div class="col"><button id="Submit" type="submit" class="btn btn-sm btn-primary mx-1" name="ActionType" value="Submit">Submit</button></div>
                </div>

            </div>
        </div>

    </div>
}

@{
    if (ViewBag.Result != "" && ViewBag.Result != null)
    {
        <script type="text/javascript" language="javascript">
            alert("@ViewBag.Result");
        </script>
    }
}

<script>

</script>