@using TPM_QAS.Models
@model IEnumerable<DailyIDSTransVM>

@{
    ViewBag.Title = "Daily IDS Transaction - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row g-0 px-3 tr-listing-header">
        <div class="col-sm-6 align-self-center">
            <p class="text-muted m-0 tr-listing-header-title">Daily Property Inspection Result (Refresh every 30 seconds)</p>
        </div>
        
    </div>

    <div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

<div class="page-container px-3 overflow-auto">
    <div class="tr-btm-btn-margin">
        <div>
            <div class="row pt-3 pb-2">
                <div class="col-12 col-sm-8">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" style="border-radius: 0px !important">
                            <div class="row align-items-center">
                                @if (TempData["STATUS_DDL"] != null)
                                {
                                    List<SelectListItem> statusList = TempData["STATUS_DDL"] as List<SelectListItem>;
                                    @Html.DropDownList("select-id", statusList, new { @class = "tr-select", style = "color: #FCFCFC; border: 0px" })
                                }
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="border-top: 1px solid #F0F0F0">
                                <div class="accordion-body text-center">
                                    @if (Model.Count() > 1)
                                    {
                                        <p class="h6 m-0 p-2 tr-rec" style="color: #00A251">@Model.Count() entries</p>
                                    }
                                    else
                                    {
                                        <p class="h6 m-0 p-2 tr-rec" style="color: #00A251">@Model.Count() entry</p>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row" id="aat">
            <table id="tr-datatable" class="table table-hover table-bordered compact" style="width:100%; margin-top: 0px !important">
                <thead>
                    <tr style="background-color:#FCFCFC">
                        <th>Packed Date</th>
                        <th>Inspection Date</th>
                        <th>Product Type</th>
                        <th>Lot No</th>
                        <th>Grade</th>
                        <th>Inspection</th>
                        <th>Tonnage</th>
                        <th>Quantity (KGs)</th>
                        <th>PIC</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

    


<!--ADV SEARCH MODAL-->
<div class="modal fade" id="ASModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="float:left;">Advanced Search</h5>
            </div>
            <hr />
            <div class="modal-body" id="searchSourceBody">
                <div class="container-fluid">
                    <div class="row align-items-center mb-2">
                        <div class="col-md-2 isLabel">Packed Date <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD1" type="text" />
                        </div>
                        <div class="col-md-2 isLabel">Inspection Date <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD2" type="text" />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-md-2 isLabel">Product Type <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD3" type="text" />
                        </div>
                        <div class="col-md-2 isLabel">Lot no <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD4" type="text" />
                        </div>
                    </div>


                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">Grade <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD5" type="text" />
                        </div>
                        <div class="col-md-2 isLabel">Quantity (KGs) <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD6" type="text" />
                        </div>
                    </div>

                    <div class="row align-items-center mt-2">
                        <div class="col-md-2 isLabel">PIC <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD7" type="text" />
                        </div>
                        <div class="col-md-2 isLabel">Status <span style="float:right">:</span></div>
                        <div class="col-md-4">
                            <input class="form-control" id="AS_FIELD8" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" id="btnReset" class="btn btn-sm btn-secondary" style="margin-right: auto;">Reset</button>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Back</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="as_search();" data-bs-dismiss="modal">Search</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var table;
        var data = [], dataAll = [];
        var jsonData = @Html.Raw(ViewBag.SerializedData);

        var data = jsonData;
        dataAll = data;

        $(document).ready(function () {
            $.when(loaddatatable()).then(function () {
                setTimeout(function () {
                    var table = $('#tr-datatable').DataTable();

                    $('#aat').css('display', 'block');
                    table.columns.adjust();
                    loadings(false);
                }, 10);
            })
        });
        function loaddatatable() {
            table = $('#tr-datatable').DataTable({
                data: data,
                scrollCollapse: true,
                scrollY: calcDataTableHeight,
                pagingType: 'simple_numbers',
                columns: [
                    { data: 'PACKEDDATE2' },
                    { data: 'PACKEDDATE' },
                    { data: 'PRODTYPE' },
                    { data: 'LOTNO' },
                    { data: 'GRADE' },
                    { data: 'INSPECTION' },
                    { data: 'ranges' },
                    { data: 'QUANTITY' },
                    { data: 'TESTEDBY' },
                    { data: 'STATUS' },
                ],

                columnDefs: [{
                    targets: 3,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {                            
                            data = `<div style="color:black; font-weight:bold;">${data}</div>`;
                        }
                        return data;
                    }
                }, {
                    targets: 4,
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            if (data === 'NG') {
                                data = `<div style="color:red;">${data}</div>`;
                            }
                        }
                        return data;
                    }
                    }, {
                        targets: 9,
                        render: function (data, type, row, meta) {
                            if (type === 'display') {
                                if (data === 'Completed') {
                                    var href = `#`;
                                    //`/Report/Report2/${row.ID_IDS_H}`;

                                    data = `<a href="${href}" class="btnreport " onclick='report(${row.ID_IDS_H});'>${data}</a>`;

                                }
                            }
                            return data;
                        }
                }],
                select: {
                    style: 'multi',
                    info: false,
                    selector: 'td:nth-child(1)'
                },
                order: [],
                dom: "<'row toolbar-row g-0'<'col-sm-12 col-md-6 align-self-center'l><'col-sm-12 col-md-6'<'d-flex justify-content-end'<'toolbar'>>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'<'d-flex justify-content-end'p<'go-to align-self-center mx-2'>>>>",
                initComplete: function () {
                    $("div.toolbar").html(
                        '<div class="input-group input-group-sm">' +
                        '<input type="text" id="txtSearch" class="form-control remove-right-border" placeholder="Search" aria-label="Search" aria-describedby="btnAdvanceSearch">' +
                        '<div class="input-group-text listing-search-icon">' +
                        '    <a href="" class="text-reset" id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></a>' +
                        '</div>' +
                        '<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#ASModal" id="btnAS" style="min-width: 30px; background-color: #057FE5;"><i class="fa-solid fa-sliders" style="transform: rotate(90deg);"></i></button>' +
                        '</div>'
                    );
                },
                drawCallback: function (settings) {
                    var api = this.api();
                    $("#txtGoTo").val(api.page() + 1);
                }
            });

            $("div.go-to").html('<div class="d-flex align-items-center p-0"><input class="form-control" type="text" id="txtGoTo" style="width:50px" value=1> &nbsp; <div class="page-info">of ' + table.page.info().pages + '</div></div>');
            $("#txtGoTo").on('keyup', function (e) {
                try {
                    var page = e.target.value;
                    if ($.isNumeric(page) && page > 0 && page <= table.page.info().pages) {
                        table.page(page - 1).draw('page');
                    } else if (e.target.value.trim() == '') {

                    }
                    else {
                        e.target.value = table.page() + 1;
                    }

                } catch (ex) {
                    console.warn(ex.toString());
                    e.target.value = 1;
                }
            });
            $("#txtGoTo").on('blur', function (e) {
                try {
                    var page = e.target.value;
                    if (page.trim() == '') {
                        $("#txtGoTo").val(1);
                        table.page(0).draw('page');
                        $("#txtGoTo").focus();
                    }
                } catch (ex) {
                    console.warn(ex.toString());
                    e.target.value = 1;
                }
            });
            $(".dataTables_length .form-select").on('change', function () {
                $("#txtGoTo").val(table.page() + 1);
                $("div.page-info").html('of ' + table.page.info().pages + '</div>');
            });
            table.on('select deselect', function (e, dt, type, indexes) {
                var rowCnt = table.rows({ selected: true }).count();
                console.log('count', rowCnt);
                if (rowCnt > 0) {
                    if (isManager == 'Y') {
                        $(".tr-trash").removeClass('isHide');
                    } else {
                        $(".tr-trash").addClass('isHide');
                    }

                    //$(".tr-audit").removeClass('isHide');
                    $("#btnExport").prop('disabled', false);
                } else {
                    $(".tr-trash").addClass('isHide');
                    //$(".tr-audit").addClass('isHide');
                    $("#btnExport").prop('disabled', true);
                }
            });


            //Multi Select
            var abc = $('.tr-select2').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.tr-select2:input').val('');
            $('.tr-select2').multiselect('rebuild');

            var def = $('.tr-select').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                minimumResultsForSearch: Infinity,
                templateSelection: function formatState(state) {
                    return 'Status : ' + state.element.value;
                },
                dropdownCssClass: 'tr-select2-container',
                selectionCssClass: 'tr-no-border'
            });

            $('.multiselectpicker').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.multiselectpicker2').multiselect({
                buttonClass: 'form-select form-control text-start',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                }
            });
            $('.multiselect-native-select > .btn-group').addClass("w-100");
            $('.multiselect-native-select > .btn-group > .multiselect').removeClass("text-center");
            $('.multiselect-native-select > .btn-group > .multiselect-container').addClass("w-100");

            addTableButtons();

            $('.tr-select').on('change', function (e) {
                if (e.target.value == "All") {
                    data = dataAll;
                } else {
                    data = dataAll.filter(x => x.STATUS.toString() == e.target.value);
                }
                if (data.length > 1) {
                    $('.tr-rec').text(data.length + ' entries');
                } else {
                    $('.tr-rec').text(data.length + ' entry');
                }

                table.clear().rows.add(data).draw();
            });
        }

        $(document).on('click', '#btnSearch', function (e) {
            e.preventDefault();
            as_exclude();
            table.search($('#txtSearch').val()).draw();
        });
        $(document).on('keyup', '#txtSearch', function (e) {
            as_exclude();
            table.search($(this).val()).draw();
        });

        $(document).on('click', '#btnReset', function (e) {
            e.preventDefault();
            $('#AS_FIELD1').val('');
            $('#AS_FIELD2').val('');
            $('#AS_FIELD3').val('');
            $('#AS_FIELD4').val('');
            $('#AS_FIELD5').val('');
            $('#AS_FIELD6').val('');
            $('#AS_FIELD7').val('');
            $('#AS_FIELD8').val('');
            as_search();
        });
        function as_search() {
            table.search("");
            table.columns(1).search($('#AS_FIELD1').val().trim());
            table.columns(2).search($('#AS_FIELD2').val().trim());
            table.columns(3).search($('#AS_FIELD3').val().trim());
            table.columns(4).search($('#AS_FIELD4').val().trim());
            table.columns(5).search($('#AS_FIELD5').val().trim());
            table.columns(8).search($('#AS_FIELD6').val().trim());
            table.columns(9).search($('#AS_FIELD7').val().trim());
            table.columns(10).search($('#AS_FIELD8').val().trim());
            table.draw();
        }
        function as_exclude() {
            table.columns(1).search("");
            table.columns(2).search("");
            table.columns(3).search("");
            table.columns(4).search("");
            table.columns(5).search("");
            table.columns(8).search("");
            table.columns(9).search("");
            table.columns(10).search("");
        }

        function hidesidebar() {
            $('#sidebar2').collapse('toggle');
            $('#sidebar').collapse('toggle');
        }
    </script>

    <script>

        $(document).ready(function () {

            var listingURL = '/DE_IDS_TRANS/DE_IDS_TRANS_LST_TV';

            //$('#sidebar2').hide();
            //$('#sidebar').hide();
            hidesidebar();

            setInterval(function () {
                location.reload();
            }, 30000); 

        });

        function report(id) {
            loadings();
            window.location.href = '@Url.Action("ReportInt", "Report")' + '/' + id;
            loadings(false);
            return false;
        }

    </script>
}

