
@using TPM_QAS.Models
@model CommonGroupModel
@{
    ViewBag.Title = "COMMON GROUP MM - Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("MM_COMMON_GROUP_ADD", "MM_COMMON_GROUP", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row g-0 px-3 tr-listing-header">
        <div class="col-sm-6 align-self-center">
            <p class="text-muted m-0 tr-listing-header-title">New Form - Common Group</p>
        </div>
    </div>

    <div style="border-top:1px solid #F0F0F0; margin-top:-1px" class="tr-btm-line"></div>

    <div class="page-container px-3 overflow-auto">
        <div class="tr-btm-btn-margin">
            <div class="card mt-3 mb-2 card-height height-override">
                <div class="card-body">
                    <div class="row align-items-baseline">
                        <div class="col"><h6 class="card-title text-muted">Common Group</h6></div>
                        <div class="col text-end"></div>
                        <div class="col-auto">
                            <div class="form-check form-switch p-0">
                                <div class="d-inline-flex flex-row-reverse gap-1">
                                    <input class="form-check-input ms-2" type="checkbox" role="switch" id="colorSwitch" />
                                    <label class="form-check-label" for="colorSwitch">Property Color</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row mt-2 align-items-baseline">
                        <div class="col-sm-2">
                            <p class="text-muted"><span>Category </span> <span class="text-danger">*</span><span style="float:right">:</span></p>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(Model => Model.CATEGORY, new { @class = "form-control required-field", id = "txtcategory", @maxlength = "100" })
                        </div>
                    </div>

                    <div id="common">
                        <div class="row align-items-baseline">
                            <div class="col-sm-2">
                                <p class="text-muted">Sub-category <span class="text-danger">*</span><span style="float:right">:</span></p>
                            </div>
                            <div class="col-sm-6 d-flex">
                                @Html.TextBoxFor(Model => Model.SUB_CATEGORY, new { @class = "form-control", id = "txtmainsub", @maxlength = "100" })
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-2 mt-4">
                        <div class="a1 col align-self-center">
                            <h6 class="text-muted" style="float: left">Details</h6>
                        </div>
                        <div id="color" class="col-3">
                            <div class="input-group">
                                <div class="input-group-text tr-input-group" id="searchColor" onclick="popupColor()">
                                    <a href="#" class="text-reset vm tr-disabled"><i class="fa-solid fa-ellipsis" aria-hidden="true" style="color: #fff"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="a2 col">
                            <div class="row row-cols-auto justify-content-end g-1">
                                <div class="col">
                                    <button class="btn btn-sm btn-md btn-danger" id="removeBtn" type="button">
                                        Remove
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-sm btn-md btn-primary" id="addBtn" type="button">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 mx-1">
                        <table id="item-table" class="detailTable" style="width:100%">
                            <thead>
                                <tr class="toolbar-row">
                                    <th style="width: 3%; text-align: center;">
                                        <input id="trCheckbox" type="checkbox" class="dt-checkboxes select-all form-check-input" style="margin-top:5.5px; display:none">
                                    </th>
                                    <th>Sub-Category</th>
                                    <th class="switchon">Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var count = 0; }
                                @if (Model.CommonGroupLstModel != null && Model.CommonGroupLstModel.Count > 0)
                                {
                                    foreach (var item in Model.CommonGroupLstModel)
                                    {
                                        count++;
                                        <tr id="R_@count" data-did="@count">
                                            <td class="text-center">
                                                <input class="dt-checkboxes form-check-input" type="checkbox" value="" id="chk_@count" onClick="handleCheckboxClick(this)">
                                            </td>
                                            <td>
                                                <input type="text" class="required-field form-control" id="item_sub_@count" value="@item.SUB_CATEGORY" placeholder="" disabled>
                                            </td>
                                            <td class="switchon">
                                                <input type="text" class="form-control" id="item_name_@count" value="@item.ITEMS" placeholder="">
                                            </td>
                                            <td class="d-none">
                                                <input type="text" class="form-control" id="item_stat_@count" value="0">
                                                <input type="text" class="form-control" id="item_dbid_@count" value="@item.MM_COMMONGROUP_D_ID">
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="item-count" value="@count" />
                    </div>

                </div>
            </div>

            <div class="row row-cols-auto justify-content-end g-1 tr-btm-btn-area" style="padding-right: 20px">
                <div class="col"><button id="btnBack" type="button" class="btn btn-sm btn-secondary mx-1 my-button" data-bs-toggle="modal" data-bs-target="#back-confirmation-modal">Back</button></div>
                <div class="col"><button hidden id="btnDraft" type="button" class="btn btn-sm btn-primary">Save As Draft</button></div>
                <div class="col"><button id="btnSubmit" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#submit-confirmation-modal">Submit</button></div>
            </div>
        </div>
    </div>

}


@section scripts{

    <script>
        $(document).ready(function () {
            checkboxChecking();

            var listingURL = appBasePath + 'MM_COMMON_GROUP/MM_COMMON_GROUP_LST';
            var idh = '@Model.MM_COMMONGROUP_H_ID' != 0 ? '@Model.MM_COMMONGROUP_H_ID' : 0;

            $("#color").hide();

            $('#colorSwitch').on('change', function () {
                if (this.checked) {
                    $('.switchon').addClass("d-none");
                    $('.a1').removeClass("col").addClass("col-2");
                    $('.a2').removeClass("col").addClass("col-7");
                    $("#common").hide();
                    $("#color").show();
                } else {
                    $('.switchon').removeClass("d-none");
                    $('.a1').removeClass("col-2").addClass("col");
                    $('.a2').removeClass("col-7").addClass("col");
                    $("#color").hide();
                    $("#common").show();
                    $('#item-table tbody').empty();
                }
            });


            //ADD
            $('#addBtn').on('click', function () {

                var cont = true;
                var message = "";

                if ($('#colorSwitch').is(':checked')) {
                    popupColor();
                } else {

                    var txtmainsub = $("#txtmainsub").val();

                    if (txtmainsub == null || txtmainsub == undefined || txtmainsub === "") {
                        cont = false;
                        message = "Missing Sub-Category value.";
                    }

                    if (cont) {
                        var rowIdx = $('#item-count').val();
                        rowIdx++;
                        $('#item-count').val(rowIdx);


                        $('#item-table tbody').append(`
                           <tr id="R_${rowIdx}" data-did="${rowIdx}">
                               <td class="text-center"><input class="dt-checkboxes form-check-input" type="checkbox" value="" id="chk_${rowIdx}" onClick="handleCheckboxClick(this)"></td>
                               <td><input type="text" class="form-control required-field" value="${txtmainsub}"  id="item_sub_${rowIdx}" placeholder="" disabled></td>
                               <td><input type="text" class="form-control" id="item_name_${rowIdx}" placeholder=""></td>
                               <td class="d-none">
                                   <input type="text" id="item_stat_${rowIdx}" value="1">
                                   <input type="text" id="item_dbid_${rowIdx}" value="0">
                               </td>
                             </tr>
                           `);

                        checkboxChecking();
                    } else {
                        if (message != "") {
                            displayToast("error", message)
                        }
                    }
                }
            });

            //REMOVE
            $('#removeBtn').on('click', function () {
                $('#item-table tbody input[type=checkbox]:checked').each(function (idx, ele) {
                    var row = $(ele).closest('tr');
                    var itemStatInput = row.find('input[id^="item_stat_"]');
                    var item_stat = itemStatInput.val();

                    if (item_stat != '1') {
                        itemStatInput.val('5');
                        row.hide();
                    } else {
                        row.remove();
                    }
                });

                checkboxChecking();
            });

            //SUBMIT
            $('#btnConfirmSubmit').on('click', function () {
                $('.invalid-feedback').remove();
                $('.is-invalid').removeClass('is-invalid');

                var cont = true;
                var message = "";

                var txtcategory = $("#txtcategory").val();

                if (txtcategory == undefined || txtcategory == null || txtcategory == "") {
                    cont = false;
                    message += 'Missing Category value. <br>';
                }

                $('.required-field').each(function (e) {
                    var input_val = $(this).val().trim();
                    if (input_val == null || input_val == undefined || input_val === "") {
                        cont = false;
                        $(this).addClass('is-invalid');
                        inputError(this);
                    }
                });

                var hasItem = false;
                var hasError = false;
                var hasDuplicate = false;
                var existedItem = [];

                var list = [];

                $("#item-table tbody tr").each(function () {
                    var did = $(this).data("did");
                    if (did != '' && did != null && did != undefined) {
                        var item_stat = $('#item_stat_' + did).val();
                        var item_dbid = $('#item_dbid_' + did).val();

                        var item_sub = $('#item_sub_' + did).val();
                        var item_name = $('#item_name_' + did).val();

                        var subname = item_sub + '*' + item_name;

                        if (item_stat != '5') {
                            if (subname !== "") {
                                hasItem = true;
                                if (existedItem.includes(subname)) {
                                    hasDuplicate = true;
                                    return false;
                                } else {
                                    existedItem.push(subname);
                                }
                            } else {
                                hasError = true;
                            }
                        }

                        list.push({
                            'MM_COMMONGROUP_D_ID': item_dbid,
                            'RECORD_TYP': item_stat,
                            'SUB_CATEGORY': item_sub,
                            'ITEMS': item_name,
                        });
                    }
                });

                if (cont && !hasItem) {
                    cont = false;
                    message = "Please add at least one Sub Category and item.";
                }
                if (cont && hasError) {
                    cont = false;
                    message = "Please make sure required field in Sub Category is not empty.";
                }
                if (cont && hasDuplicate) {
                    cont = false;
                    message = "Duplicate Sub-Category with similar item.";
                }

                if (cont) {

                    var model = {
                        MM_COMMONGROUP_H_ID: idh,
                        RECORD_TYP: '1',

                        CATEGORY: txtcategory,
                        CommonGroupLstModel: list
                    };

                    console.log(model)

                    $.ajax({
                        url: appBasePath + "MM_COMMON_GROUP/InsertUpdateCommonGroup",
                        type: 'POST',
                        data: {
                            model: model
                        },
                        beforeSend: function () {
                            loadings();
                        },
                        success: function (response) {
                            loadings(false);
                            if (response.success) {
                                displayToast("s", "Data save successfully");

                                setTimeout(function () {
                                    window.location.href = listingURL;
                                }, 2000);

                            } else {
                                displayToast("error", response.message)
                            }
                        },
                        error: function () {
                            displayToast("error", response.responseText)
                        }
                    });

                } else {
                    if (message != "") {
                        displayToast("error", message)
                    }
                }

            });

            //DRAFT
            $('#btnDraft').on('click', function () {
                var cont = true;
                var message = "";

                var txtcategory = $("#txtcategory").val();

                if (txtcategory == undefined || txtcategory == null || txtcategory == "") {
                    cont = false;
                    message += 'Missing Category value. <br>';
                }

                //var hasItem = false;
                //var hasError = false;
                var hasDuplicate = false;
                var existedItem = [];

                var list = [];

                $("#item-table tbody tr").each(function () {
                    var did = $(this).data("did");
                    if (did != '' && did != null && did != undefined) {
                        var item_stat = $('#item_stat_' + did).val();
                        var item_dbid = $('#item_dbid_' + did).val();

                        var item_sub = $('#item_sub_' + did).val();
                        var item_name = $('#item_name_' + did).val();

                        var subname = item_sub + '*' + item_name;

                        if (item_stat != '5') {
                            item_stat = "8";
                            if (subname !== "") {
                                //hasItem = true;
                                if (existedItem.includes(subname)) {
                                    hasDuplicate = true;
                                    return false;
                                } else {
                                    existedItem.push(subname);
                                }
                            }
                            //else {
                            //    hasError = true;
                            //}
                        }

                        list.push({
                            'MM_COMMONGROUP_D_ID': item_dbid,
                            'RECORD_TYP': item_stat,
                            'SUB_CATEGORY': item_sub,
                            'ITEMS': item_name,
                        });
                    }
                });

                //if (cont && !hasItem) {
                //    cont = false;
                //    message = "Please add at least one Sub Category and item.";
                //}

                //if (cont && hasError) {
                //    cont = false;
                //    message = "Please make sure required field in Sub Category is not empty.";
                //}

                if (cont && hasDuplicate) {
                    cont = false;
                    message = "Duplicate Sub-Category with similar item.";
                }

                if (cont) {

                    var model = {
                        MM_COMMONGROUP_H_ID: idh,
                        CATEGORY: txtcategory,
                        RECORD_TYP: '8',
                        CommonGroupLstModel: list
                    };

                    console.log(model)

                    $.ajax({
                        url: appBasePath + "MM_COMMON_GROUP/DraftCommonGroup",
                        type: 'POST',
                        data: {
                            model: model
                        },
                        beforeSend: function () {
                            loadings();
                        },
                        success: function (response) {
                            loadings(false);
                            if (response.success) {
                                displayToast("s", "Data save as draft successfully");

                                setTimeout(function () {
                                    window.location.href = listingURL;
                                }, 2000);

                            } else {
                                displayToast("error", response.message)
                            }
                        },
                        error: function () {
                            displayToast("error", response.responseText)
                        }
                    });

                } else {
                    if (message != "") {
                        displayToast("error", message)
                    }
                }
            });

            $('#btnConfirmBack').on('click', function () {
                window.location.href = listingURL;
            });

        });

        //ADD PROPERTY COLOR LIST
        function addColorList(data) {
            var cont = true;
            var message = "";

            var hasDuplicate = false;
            for (var i = 0; i < data.length; i++) {

                var rowIdx = $('#item-count').val();

                if (rowIdx != '0') {

                    var tlength = $('#item-table tbody tr').length;

                    if (tlength != 0) {
                        $("#item-table tbody tr").each(function () {
                            var propcolor = data[i].PROPCOLOR;

                            var did = $(this).data('did');
                            if (did != '' && did != null && did != undefined) {
                                var item_stat = $('#item_stat_' + did).val();
                                var item_sub = $('#item_sub_' + did).val();

                                if (data[i].INSERT != 'N') {
                                    if (item_stat != '5' && item_sub == propcolor) {
                                        hasDuplicate = true;
                                        data[i].INSERT = 'N';
                                    } else {
                                        data[i].INSERT = 'Y';
                                    }
                                }

                            }
                        });
                    } else {
                        data[i].INSERT = 'Y';
                    }


                } else {
                    data[i].INSERT = 'Y';
                }
            }

            //if (cont && hasDuplicate) {
            //    cont = false;
            //    message = "Duplicate property and property items selected.";
            //}

            if (cont) {
                var rowIdx = $('#item-count').val();

                for (var i = 0; i < data.length; i++) {

                    if (data[i].INSERT == 'Y') {
                        rowIdx++;
                        $('#item-count').val(rowIdx);

                        $("#item-table tbody").append(`
                        <tr id="R_${rowIdx}" data-did="${rowIdx}">
                            <td class="text-center"><input class="dt-checkboxes form-check-input" type="checkbox" value="" id="chk_${rowIdx}" onClick="handleCheckboxClick(this)"></td>
                            <td><input type="text" class="form-control required-field" value="${data[i].PROPCOLOR}"  id="item_sub_${rowIdx}" placeholder="" disabled></td>
                            <td class="switchon d-none"><input type="text" class="form-control" value=""  id="item_name_${rowIdx}" placeholder="" disabled></td>
                            <td class="d-none">
                                <input type="text" id="item_stat_${rowIdx}" value="1">
                                <input type="text" id="item_dbid_${rowIdx}" value="0">
                            </td>
                        </tr>`);

                        checkboxChecking();
                    }
                }

            } else {
                if (message != "") {
                    displayToast("error", message)
                }
            }
        }

        //POPUP 1
        function popupColor() {
            var txtcategory = $("#txtcategory").val().toUpperCase();
            var type = "";
            if (txtcategory.includes("YI")){
                type = "YI";
            } else if(txtcategory.includes("BLANK BLACK")){
                type = "BLACK";
            }

            var popup;
            var url = '@Url.Action("MM_COMMON_GROUP_COLOR_POPOUT", "MM_COMMON_GROUP")';

            url = url + '?type=' + type;
            popup = window.open(url, "Popup", "directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=800,height=800");
            popup.focus();
        }

    </script>
}